@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

*,
html {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url("../src/homepage.png") no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  background-color: transparent;
  color: white;
  padding: 1rem;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

nav ul li a {
  color: #6d629a;
  padding: 14px 20px;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
}

nav ul li a:hover {
  background-color: #abbbf3;
}

nav ul li a:hover,
.active {
  color: white;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}

.overlay-text {
  background-color: #00000080;
  position: absolute;
  text-align: center;
  color: white;
  z-index: 1;
  width: 80%;
  max-width: 1200px;
  border-radius: 8px;
  padding: 20px;
}

.overlay-text h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.overlay-text p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.active:hover {
  color: #6d629a !important;
  border-bottom: none !important;
}

.btn {
  text-decoration: none;
  display: inline-block;
  color: #e6f5ff;
  font-size: 12px;
  margin-top: 12px;
  padding: 12px 35px;
  border: 2px solid #6d629a;
  transition-duration: 0.5s;
  cursor: pointer;
  border-radius: 50px;
}

.btn:hover {
  border: 1px solid #6d629a;
  background: #6d629a;
  color: #e6f5ff;
}

footer {
  background: white;
  color: black;
  text-align: center;
  padding: 15px 0;
  position: relative;
  width: 100%;
  bottom: 0;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
