@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

*,
html {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url("../src/homepage.png") no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  background-color: transparent;
  color: white;
  padding: 1rem;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

nav ul li a {
  color: #6d629a;
  padding: 14px 20px;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
}

nav ul li a:hover {
  background-color: #abbbf3;
}

nav ul li a:hover,
.active {
  color: white;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}
section {
  background: transparent;
  backdrop-filter: blur(20px);
  padding: 36px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 30px;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  line-height: 1.5;
}

footer {
  background: white;
  color: black;
  text-align: center;
  padding: 15px 0;
  position: relative;
  width: 100%;
  bottom: 0;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  text-align: center;
  position: relative;
}

.popup-content img {
  width: 100%;
  border-radius: 8px;
}

.popup-content h3 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.popup-content p {
  font-size: 1rem;
  margin-top: 10px;
  line-height: 1.5;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}
